/*reset*/
ul, ul > li, ol, ol > li{
    margin: 0; padding: 0; list-style-type: none;
}

/*add font*/
@font-face {
    font-family: 'utm_neo';
    src: url('fonts/utm-neo/UTM Neo Sans Intel.eot');
    src: local('☺'),
    url('fonts/utm-neo/UTM Neo Sans Intel.woff') format('woff'),
    url('fonts/utm-neo/UTM Neo Sans Intel.ttf') format('truetype'),
    url('fonts/utm-neo/UTM Neo Sans Intel.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'utm_neo_bold';
    src: url('fonts/utm-neo/UTM Neo Sans IntelBold.eot');
    src: local('☺'),
    url('fonts/utm-neo/UTM Neo Sans IntelBold.woff') format('woff'),
    url('fonts/utm-neo/UTM Neo Sans IntelBold.ttf') format('truetype'),
    url('fonts/utm-neo/UTM Neo Sans IntelBold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'avo';
    src: url('fonts/avo/UTM Avo.eot');
    src: local('☺'), url('fonts/avo/UTMAvo.woff') format('woff'),
    url('fonts/avo/UTMAvo.ttf') format('truetype'),
    url('fonts/avo/UTM Avo.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'avo_bold';
    src: url('fonts/avo/UTM AvoBold.eot');
    src: local('☺'), url('fonts/avo/UTM AvoBold.woff') format('woff'),
    url('fonts/avo/UTM AvoBold.ttf') format('truetype'),
    url('fonts/avo/UTM AvoBold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}
*, body,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
    font-family: avo;
}

.container{max-width: 1230px}

/*Header*/
.header{
    min-height: 645px;
    background-image: url("images/banner-01.png");
    background-repeat: no-repeat; background-size: cover; background-position: center center;
}
.header .header-content{float: right}
.header .header-content .link-action,
.header .header-content .main-menu{display: inline-block; vertical-align: top;}
.header .header-content .link-action{position: relative; z-index: 99;}
.header .header-content .link-action p, .header .header-content .link-action a{display: inline-block;}


.main-menu .menu-toggle{display: block; position: relative; z-index: 99; width: 36px; height: 18px;}
.main-menu .menu-toggle span{display: block; height: 3px; background-color: #fff; position: absolute; right: 0}
.main-menu .menu-toggle span:first-child{width: 35px; top: 0}
.main-menu .menu-toggle span:nth-child(2){width: 26px; top: calc(50% - 1.5px)}
.main-menu .menu-toggle span:nth-child(3){width: 13px; bottom: 0}


.main-menu #menu-top-menu{}
.main-menu #menu-top-menu{display: none; text-align: right; background-color: #fff;
padding: 100px 0;
}
.main-menu #menu-top-menu.active{display: block; position: absolute; top: 0; width: 100%; left: 0; z-index: 9}



/*conten*/
.content .section .title{
text-align: center;
    text-transform: uppercase;
    font-size: 31px;
    font-family: utm_neo;
    position: relative;
    padding-bottom: 20px;
}
.content .section.main-info .title:before{
    content: ""; position: absolute; width: 90px; height: 2px; background-color: #0085bf;
    bottom: 0; left: calc(50% - 45px);
}
.content .section .title p{font-family: utm_neo_bold; font-weight: bold}

.content .section .sub-info{font-size: 16px; line-height: 30px; text-align: center}

.section .subcription{text-align: center;}
.section .subcription button{display: inline-block; font-size: 16px; color: #fff; text-transform: uppercase;
    padding: 0 20px; line-height: 47px; background-color: #0085bf; border: 0; font-family: avo_bold; font-weight: bold;
}




.footer {
    background-color: #232323;
    padding: 30px 0;
}

.wrap-text {
    padding: 1px 0;
}

ul.custom-social-footer {
    padding-top: 30px;
}

.wrap-logo {
    float: left;
    margin-right: 25px;
}

.wrap-text h3 {
    font-size: 15px;
    color: #F98E00;
    text-transform: uppercase;
    font-weight: bold;
}

.wrap-text p {
    color: #fff;
    font-size: 12px;
}

.custom-social-footer {
    float: right;
}

.custom-social-footer li {
    padding: 0 20px !important;
}

.custom-social-footer li:last-child {
    padding-right: 0 !important;
}

.custom-social-footer li a {
    color: #CECED7;
    font-size: 18px;
}

.custom-social-footer li:hover a {
    color: #F98E00;
}

.header-contact-form p {
    font-size: 31px;
    text-transform: uppercase;
    color: #565656;
    text-align: center;
}

section#contact-form {
    margin: 50px 0;
}

.line-contact {
    padding: 30px 0;
}

.wrap-address h4 {
    color: #6D6D6D;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 30px;
}

p.text-custom {
    font-size: 18px;
    color: #F98E00;
    line-height: 21px;
    margin-top: 20px;
}

p.text {
    font-size: 16px;
    color: #4C4C4C;
}

.wrap-address h4:before {
    content: '';
    width: 40px;
    height: 4px;
    background: #F98E00;
    display: block;
    margin-bottom: 20px;
}

.form-contact-action .input {
    height: 52px;
    line-height: 52px;
    padding-left: 15px;
    border: none;
    background-color: #F6F6F6;
    font-size: 18px;
    color: #9C9C9C;
    margin-right: 18px;
}

.form-contact-action .input:last-child {
    margin-right: 0;
}