/*reset*/
ul, ul > li, ol, ol > li{
    margin: 0; padding: 0; list-style-type: none;
}

/*add font*/
@font-face {
    font-family: 'utm_neo';
    src: url('../fonts/utm-neo/UTM Neo Sans Intel.eot');
    src: local('☺'),
    url('../fonts/utm-neo/UTM Neo Sans Intel.woff') format('woff'),
    url('../fonts/utm-neo/UTM Neo Sans Intel.ttf') format('truetype'),
    url('../fonts/utm-neo/UTM Neo Sans Intel.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'utm_neo_bold';
    src: url('../fonts/utm-neo/UTM Neo Sans IntelBold.eot');
    src: local('☺'),
    url('../fonts/utm-neo/UTM Neo Sans IntelBold.woff') format('woff'),
    url('../fonts/utm-neo/UTM Neo Sans IntelBold.ttf') format('truetype'),
    url('../fonts/utm-neo/UTM Neo Sans IntelBold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'avo';
    src: url('../fonts/avo/UTM Avo.eot');
    src: local('☺'), 
    url('../fonts/avo/UTMAvo.woff') format('woff'),
    url('../fonts/avo/UTMAvo.ttf') format('truetype'),
    url('../fonts/avo/UTM Avo.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'avo_bold';
    src: url('../fonts/avo/UTM AvoBold.eot');
    src: local('☺'),
    url('../fonts/avo/UTM AvoBold.woff') format('woff'),
    url('../fonts/avo/UTM AvoBold.ttf') format('truetype'),
    url('../fonts/avo/UTM AvoBold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'utm_bebas';
    src: url('../fonts/utm-bebas/UTMBebas.eot');
    src: local('☺'), url('../fonts/utm-bebas/UTMBebas.woff') format('woff'), url('../fonts/utm-bebas/UTMBebas.ttf') format('truetype'), url('../fonts/utm-bebas/UTMBebas.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
*, body,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
    font-family: avo;
    margin: 0;
    padding: 0;
}
p{margin: 0}
span{font-size: inherit; font-family: inherit; font-weight: inherit; line-height: inherit}
.container{max-width: 1230px}
.orange{color: #f98e00;}
.white{color: #fff}

/*Header*/
.header{
    min-height: 645px;
    background-image: url("../images/banner-01.png");
    background-repeat: no-repeat; background-size: cover;
    padding-top: 30px;
}
.header .header-content{float: right}
.header .header-content .link-action,
.header .header-content .main-menu{display: inline-block; vertical-align: top;}
.header .header-content .link-action{position: relative; z-index: 99;}
.header .header-content .link-action p, .header .header-content .link-action a{display: inline-block;}


.main-menu .menu-toggle{display: block; position: relative; z-index: 99; width: 36px; height: 18px;}
.main-menu .menu-toggle span{display: block; height: 3px; background-color: #fff; position: absolute; right: 0}
.main-menu .menu-toggle span:first-child{width: 35px; top: 0}
.main-menu .menu-toggle span:nth-child(2){width: 26px; top: calc(50% - 1.5px)}
.main-menu .menu-toggle span:nth-child(3){width: 13px; bottom: 0}


.main-menu #menu-top-menu{}
.main-menu #menu-top-menu{display: none; text-align: right; background-color: #fff;
padding: 100px 0;
}
.main-menu #menu-top-menu.active{display: block; position: absolute; top: 0; width: 100%; left: 0; z-index: 9}



/*conten*/
.content .section .title{
text-align: left;
    text-transform: uppercase;
    font-size: 31px;
    font-family: avo_bold;
    font-weight: bold;
    position: relative;
    padding-bottom: 20px;
    color: #565656;

}
.content .section.main-info .title:before,
.content .section.addition-info .title:before{
    content: ""; position: absolute; width: 90px; height: 2px; background-color: #0085bf;
    bottom: 0;
}
.content .section .title p{font-family: utm_neo_bold; font-weight: bold}

.content .section .sub-info {
    font-size: 17px;
    line-height: 30px;
    text-align: justify !important;
    color: #4C4C4C;
}

/*.section .subcription{text-align: center;}*/
.section .subcription button{display: inline-block; font-size: 16px; color: #fff; text-transform: uppercase;
    padding: 0 20px; line-height: 47px; background-color: #0085bf; border: 0; font-family: avo_bold; font-weight: bold;
}

.section .blue{color: #0085bf}


/*section more-info*/
.content .section.more-info .title{text-align: left;}
.more-info .program .content label{display: block; line-height: 21px; font-size: 16px; font-family: avo_bold; font-weight: bold; text-transform: uppercase; padding: 10px 0; margin: 0; cursor: pointer;}
.more-info .program .content label:before{
    content: ""; display: inline-block; vertical-align: top; width: 21px; height: 21px; margin-right: 25px;
    background-image: url("../images/section-more-info/tick-01.png");
    background-position: center center; background-repeat: no-repeat;
}

label .blue{font-family: avo_bold; font-weight: bold; font-size: 16px;}
.more-info .program .content input[name="type-drop"]{display: none}
.more-info .program .content .content-box{display: none; border-left: 1px solid #f9a22e; margin-left: 9px; padding-left: 33px; margin-top: 10px; margin-bottom: 10px;}
.more-info .program .content .content-box p{
    font-size: 16px; line-height: 20px; color: #4c4c4c;
}
.more-info .program .content input[type="radio"]:checked + .content-box{display: block}

.section.more-info .subcription{text-align: left; margin-top: 30px}
.content .section.more-info .sub-info{text-align: left}

/*target*/
.content .section.target{height: 600px}
.content .section.target .title, .content .section.target .sub-info{text-align: left}
.content .section.target{background-image: url("../images/section-target/bg-target.png");
    background-repeat: no-repeat; background-position: 90% top;
}
.content .section.target .left{padding-top: 150px}

/*addition info*/
.content .section.addition-info{
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url("../images/section-addition-info/bg-info.jpg"); background-repeat: no-repeat; background-position: center center;

}
.content .section.addition-info .title{text-align: center; color: #f98e00; padding-bottom: 40px}
.content .section.addition-info .title:before {
    left: calc(50% - 45px); background-color: #f98e00;
}
.content .section.addition-info .title p{color: #fff; font-size: 31px; text-transform: uppercase; font-family: utm_neo;}
.addition-info .subcription{text-align: center;}
.addition-info{padding: 65px 0}


.slider ul li .img{width: 40%; float: right}


/*24px*/
/*82px*/
.addition-info .box-content ul li{cursor: pointer}
.addition-info .box-content ul li .bg-hover{position: relative}
.addition-info .box-content ul li .bg-hover:before, .addition-info .box-content ul li .bg-hover:after{content: ""; display: table; clear: both;}
.addition-info .box-content ul li{padding: 20px 0; position: relative}
.addition-info .box-content ul li:before{content: ""; position: absolute; width: calc(100% - 158px); height: calc(100% - 40px); top: 20px; background-color: transparent}
.addition-info .box-content ul li:hover:before{background-color: rgba(0, 133, 191, 0.6)}
.addition-info .left-box ul li:before{right: 158px}
.addition-info .right-box ul li:before{left: 158px}
.addition-info .box-content .icon{width: 48px; height: 84px; display: block; position: relative;}
.addition-info .box-content ul li .icon:before, .addition-info .box-content ul li .icon:after{
    content: ""; position: absolute; border-width: 42px 24px; border-style: solid; top: 0; border-color: transparent;
}
.addition-info .box-content ul li:hover .icon:before{left: -48px; border-color: transparent rgba(0, 133, 191, 0.6) transparent transparent}
.addition-info .box-content ul li:hover .icon:after{right: -48px; border-color: transparent transparent transparent rgba(0, 133, 191, 0.6)}

.addition-info .left-box{text-align: right; padding-right: 50px}
.addition-info .right-box{padding-left: 50px}
.addition-info .left-box .icon,
.addition-info .left-box .sub{float: right; text-align: right; margin-right: 50px;}
.addition-info .right-box .icon,
.addition-info .right-box .sub{float: left; margin-left: 50px}
.addition-info .right-box .sub{}
.addition-info .box-content .sub{padding: 20px 0; position: relative}
.addition-info .box-content ul li .sub:before{content: ""; position: absolute; border-width: 42px 24px; border-style: solid; top: 0; display: none}
.addition-info .left-box.box-content ul li .sub:before{right: -38px; border-color: rgba(0, 133, 191, 0.6) transparent rgba(0, 133, 191, 0.6) rgba(0, 133, 191, 0.6)}
.addition-info .right-box.box-content ul li .sub:before{left: -38px; border-color: rgba(0, 133, 191, 0.6) rgba(0, 133, 191, 0.6) rgba(0, 133, 191, 0.6) transparent}


.addition-info .box-content .sub label, .addition-info .box-content .sub span{display: block; margin: 0; position: relative}
.addition-info .box-content .sub label{font-family: avo_bold; font-size: 21px; font-weight: bold; line-height: 22px;}
.addition-info .box-content .sub span{font-size: 15px; line-height: 22px;}
.addition-info .border-img:after{content: ""; position: absolute; height: calc(100% - 30px); top: 15px; right: -24px; width: 48px; background-image: url("../images/timeline.png");
    background-repeat: no-repeat; background-position: center center;
}
.addition-info .box-content .icon{background-repeat: no-repeat; background-position: center}

.addition-info .box-content .icon.hs{background-image: url("../images/ico-1-01-active.png"); }
.addition-info .box-content ul li:hover .icon.hs{background-image: url("../images/ico-1-01.png"); }

.addition-info .box-content .icon.kg{background-image: url("../images/ico-2-01-01-active.png"); }
.addition-info .box-content ul li:hover .icon.kg{background-image: url("../images/ico-2-01-01.png"); }

.addition-info .box-content .icon.dd{background-image: url("../images/ico-3-01-active.png"); }
.addition-info .box-content ul li:hover .icon.dd{background-image: url("../images/ico-3-01.png"); }

.addition-info .box-content .icon.time{background-image: url("../images/ico-4-01-active.png"); }
.addition-info .box-content ul li:hover .icon.time{background-image: url("../images/ico-4-01.png"); }

.addition-info .box-content .icon.hp{background-image: url("../images/ico-5-07-active.png"); }
.addition-info .box-content ul li:hover .icon.hp{background-image: url("../images/ico-5-07.png"); }

.addition-info .box-content .icon.bc{background-image: url("../images/ico-6-09-active.png"); }
.addition-info .box-content ul li:hover .icon.bc{background-image: url("../images/ico-6-09.png"); }

.addition-info .box-content ul li:hover .sub:before{display: block}
.addition-info .box-content ul li:hover .icon{background-color: rgba(0, 133, 191, 0.6);}

/*footer*/
.footer {
    background-color: #232323;
    padding: 30px 0;
}

.wrap-text {
    padding: 1px 0;
}

ul.custom-social-footer {
    padding-top: 30px;
}

.wrap-logo {
    float: left;
    margin-right: 25px;
}

.wrap-text h3 {
    font-size: 15px;
    color: #F98E00;
    text-transform: uppercase;
    font-weight: bold;
}

.wrap-text p {
    color: #fff;
    font-size: 12px;
}

.custom-social-footer {
    float: right;
}

.custom-social-footer li {
    padding: 0 20px !important;
}

.custom-social-footer li:last-child {
    padding-right: 0 !important;
}

.custom-social-footer li a {
    color: #CECED7;
    font-size: 18px;
}

.custom-social-footer li:hover a {
    color: #F98E00;
}

.header-contact-form p {
    font-size: 31px;
    text-transform: uppercase;
    color: #565656;
    text-align: center;
}

section#contact-form {
    margin: 50px 0;
}

.line-contact {
    padding: 30px 0;
}

.wrap-address h4 {
    color: #6D6D6D;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 30px;
    font-family: 'avo_bold';
}

p.text-custom {
    font-size: 18px;
    color: #F98E00;
    line-height: 21px;
    margin-top: 20px;
}

p.text {
    font-size: 16px;
    color: #4C4C4C;
}

.wrap-address h4:before {
    content: '';
    width: 40px;
    height: 4px;
    background: #F98E00;
    display: block;
    margin-bottom: 20px;
}

.form-contact-action .input {
    height: 52px;
    line-height: 52px;
    padding-left: 15px;
    border: none;
    background-color: #F6F6F6;
    font-size: 18px;
    color: #9C9C9C;
    margin-right: 18px;
}

.form-contact-action .input:last-child {
    margin-right: 0;
}